@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.gradient-text {
  background: linear-gradient(135deg, #0077ED 0%, #00C6FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}